@model RemessaFaccao.DAL.Models.Perfil

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div class="internal">
    <h4>Perfil</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerfilId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerfilId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<br />
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PerfilId }, new { @class="btn btn-warning"}) 
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
