@model RemessaFaccao.DAL.Models.Usuario

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir</h1>

<h3>ATENÇÃO!!!</h3>
<div>
    <div class="internal">
        <h4>Usuário</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.UsuarioId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.UsuarioId)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PerfilId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PerfilId)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LoginUsuario)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LoginUsuario)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Senha)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Senha)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Observacoes)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Observacoes)
            </dd>
        </dl>
    </div>
    <br />
    <form asp-action="Delete">
        <input type="submit" value="Excluir" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>
