@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-5">SISTEMA DE CONTROLE DE REMESSAS E FACÇÕES</h1>
    <h3 class="display-6">Bem vindo!</h3>
</div>

<div class="containerHome">
    <div class="boxHome">
        <a href="@Url.Action("Index", "Manutencao")">
            <div class="internal">
                <h5 class="text-center text-warning">Remessas para enviar para produção: @ViewData["EnviarParaProducao"]</h5>
            </div>
        </a>
    </div>
    <div class="boxHome">
        <a href="@Url.Action("Index", "Manutencao")">
            <div class="internal">
                <h5 class="text-center text-dark">Remessas em produção nesse momento: @ViewData["EmProducao"]</h5>
            </div>
        </a>
    </div>
    <div class="boxHome">
        <a href="@Url.Action("Index", "Manutencao")">
            <div class="internal">
                <h5 class="text-center text-danger">Remessas atrasadas: @ViewData["Atrasadas"]</h5>
            </div>
        </a>
    </div>
    <div class="boxHome">
        <a href="@Url.Action("Index", "Manutencao")">
            <div class="internal">
                <h5 class="text-center text-success">Remessas para receber hoje: @ViewData["ReceberHoje"]</h5>
            </div>
        </a>
    </div>
</div>