@model IEnumerable<RemessaFaccao.DAL.Models.Remessa>

@{
    ViewData["Title"] = "Relatório de Remessas Para Enviar Para Produção";
}

<h1>Remessas Para Enviar Para Produção</h1>

<div class="col-md-8">
    <table class="table">
        <thead>
            <tr>
                <th>
                    &nbsp;&nbsp;&nbsp;&nbsp; @Html.DisplayNameFor(model => model.RemessaId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Referencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp; @Html.DisplayFor(modelItem => item.RemessaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Referencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>